html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.big-container {
    display: grid;
    min-height: 100vh;
    grid-template: 
    "header header header"
    "register flavor easel"
    "below-register below-flavor easel";
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 2fr 6fr 3fr;
}

.header {
    grid-area: header;
    background-color: red;
}

.register {
    grid-area: register;
    background-color: green;
}

.flavor {
    grid-area: flavor;
    background-color: yellow;
}

.easel {
    grid-area: easel;
    background-color: blue;
}

.below-register {
    grid-area: below-register;
    background-color: orange;
}

.below-flavor {
    grid-area: below-flavor;
    background-color: violet;
}